@import "style";

.index_about{
  .nopm;
  background: @color4;
  height: 180vh;
  z-index: 2;
  color: @white;
  text-align: center;
  overflow-y: hidden !important;
  .index_about_container{
    height: 100%;
    .index_about_left{
      height: 50%;
      .index_about_left_container{
        height: 100%;
        img{
          height: 100%;
          width: 100%;
        }
      }
    }
    .index_about_right {
      height: 50%;
      .index_about_right_container{
        height: auto;
        .center_vertically_css;
        h1{
          font-weight: 600;
          font-size: 3.4em;
          margin:8vh 0 3vh 0;
        }
        p{
          font-weight: 400;
          font-size: 1.8em;
          margin-bottom: 1vh;
        }
      }
    }
  }
}

//desktop size css
@media (min-width: @screen-md-min) {

  .index_about{
    height: 100vh;
    .index_about_container{
      height: 100%;
      .index_about_left{
        height: 100%;
        .index_about_left_container{
          height: 100%;
          img{
          }
        }
      }
      .index_about_right {
        height: 100%;
        .index_about_right_container{
          .center_vertically_css;
          h1{
          }
          p{
          }
        }
      }
    }
  }

}