@import "style";

.index_about {
  .nopm;
  background: @color4;
  height: @100h;
  z-index: 2;
  color: @white;
  text-align: center;
  position: relative;
  .index_about_container {
    height: 100%;

    .index_about_left {
      height: 100%;
      .index_about_left_container {
        img {
          height: @100h;
          width: 100%;

        }
      }
    }

    .index_about_right {
      height: 100%;
      .index_about_right_container {
        height: auto;
        .center_vertically_css;
        text-align: center;
        h1 {
          font-weight: 600;
          font-size: 4em;
        }
        p {
          font-weight: 300;
          font-size: 1.5em;
        }
      }
    }
  }
}

//tablet size
@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {

}