@import "style";

footer {
  .nopm;
  .tole;
  position:relative;
  max-width: 100%;
  width: 100%;
  overflow:auto;
  z-index: 3;
  .footer {
    .nopm;
    height: 95vh;
    background: @color3;

    .footer_container {
      //top part of footer triangle
      .footer_top {
        .fooer_triangle {
          img {
          }
        }
      }

      //mid part of footer contact info
      .footer_mid {
        .footer_contact {
          h1 {

          }
          p {

          }
        }
      }

      //bbootom part of footer logo and creater
      .footer_bot {
        a {
          img {

          }
        }
        .footer_info {
          p {

          }
        }
      }
    }
  }
}

  /*
//tablet size css
@media (min-width: @screen-sm-min) {
  footer{
    .footer_container{
      .footer_top{
        .fooer_triangle{
          img{

          }
        }
      }
      .footer_mid{
        .footer_contact{
          h1{

          }
          p{

          }
        }

      }
      .footer_bot{
        a{
          img{

          }
        }
        .footer_info{
          p{

          }
        }
      }
    }
  }

}

//desktop size css
@media (min-width: @screen-md-min) {
  footer{
    .footer_container{
      .footer_top{
        .fooer_triangle{
          img{

          }
        }
      }
      .footer_mid{
        .footer_contact{
          h1{

          }
          p{

          }
        }

      }
      .footer_bot{
        a{
          img{

          }
        }
        .footer_info{
          p{

          }
        }
      }
    }
  }

}

      */