@import "style";
//yo
footer {
  .nopm;
  .tole;
  position:relative;
  max-width: 100%;
  width: 100%;
  overflow:hidden;
  z-index: 3;
  .footer {
    .nopm;
    height: 95vh;
    background: @color2;
    .footer_container {
      height: 100%;
      .nopm;

      //top part of footer triangle
      .footer_top {
        height: 30vh;
        width: 100%;
        .nopm;
        .footer_triangle {
          .full_size;
          .nopm;
          img {
            .nopm;
            .full_size;
          }
        }
      }

      //mid part of footer contact info
      .footer_mid {
        margin-top: 9vh;
        height: 30vh;
        color: @white;
        .footer_contact {
          text-align: center;
          h1 {
            font-size: 4.5em;
            font-weight: 600;
          }
          p {
            font-size: 2em;
            font-weight: 400;
          }
        }
      }

      //bottom part of footer logo and cheater
      .footer_bot {
        height: 25vh;
        a {
          img {

          }
        }
      }
      .footer_info {
        .nopm;
        position: absolute;
        height: 6vh;
        color: @white;
        background: @color4;
        bottom: 0;
        z-index: 5;
        p {
          text-align: center;
          font-size: 1em;
        }
      }
    }
  }
}