
/* added */
.intro_button {
  /*width:10vw;*/
  height: 8vh;
  border-radius: 30% 100%;
  background:#FF5600;
  line-height: 8vh;
  text-align:center;
  font-size: 1.0vw;
  color:#FFFFFF;
  cursor:pointer;
}

/* added */
.fade-in,.slide-in,.nav_menu_container {
    visibility:hidden;
}

.change_password_form {
    margin-left:10vw !important;
}

.admin_message {
    text-align:center;
    text-decoration:underline;
}
