//colors for the page
//base color black and white
@black: #000000;
@white: #ffffff;

//custum collars
@color1: #0080cf;
@color2: #003057;
@color3: #FF5600;
@color4: #4A4544;

//standard variables
@no: 0 !important;

//size variables
@100h: 100vh;
@100w: 100vw;
@75h: 75vh;
@75w: 75vw;
@50h: 50vh;
@50w: 50vw;
@25h: 25vh;
@25w: 25vw;

@100p: 100%;
@75p: 75%;
@50p: 50%;
@25p: 25%;

//computer scree sises and up
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
